doctype html
html
	head
		title LogIn Panel
		link(rel="stylesheet", type="text/css", href="/static/style.css")
	body
		div.container
			h2.welcome-text Welcome to login panel
			img.welcome-img(src='https://cdn-images-1.medium.com/max/1200/1*PmL3-GUNxYP26qTSlVrmzw.png')
			a.welcome-btn(href="/auth/google") Click me!
